version: '2.2'
{% if aws_es_proxy_docker_external_network %}
networks:
  default:
    external:
      name: {{ aws_es_proxy_docker_external_network }}
{% endif %}
services:
  aws-es-proxy:
    container_name: aws-es-proxy
    image: {{ aws_es_proxy_docker_image_name }}:{{ aws_es_proxy_docker_version }}
{% if aws_es_proxy_docker_access_key %}
    environment:
      AWS_ACCESS_KEY_ID: {{ aws_es_proxy_docker_access_key }}
      AWS_SECRET_ACCESS_KEY: {{ aws_es_proxy_docker_access_secret }}
{% endif %}
{% if aws_es_proxy_docker_expose_port %}
    ports:
      - {{ aws_es_proxy_docker_expose_port }}:9200
{% endif %}
    restart: always
    command: ["./aws-es-proxy", "-endpoint", "https://{{ aws_es_proxy_docker_cluster_endpoint }}", "-listen", ":9200"]
